.add_potato_body {
  margin: 10px 10px 10px 10px;
  /* width: 100%; */
  flex: 6;
  /* background-color: #e3d1b4; */
  overflow: auto;
  border-radius: 25px;
  border-color: black;
  border: solid #cdb18e;
  box-shadow: 3px 10px 10px #7c7979;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add_potato_modal {
  display: flex;
  border: solid;
  width: 70%;
  justify-content: center;
  border: solid #cdb18e;
  border-radius: 30px;
  box-shadow: 3px 5px 10px #7c7979;
}

.add_potato_url {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 80%;
}

.add_potato_desc {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.add_potatp_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-right: 1rem; */
  margin-left: -5rem;
  flex: 9;
}

.add_potato_submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
  font-size: 3rem;
  margin: 7rem 3rem 4rem -1rem;
  border-radius: 20px;
  border: solid balck;
  color: yellow;
  text-shadow: -3.5px 0 black, 0 3.5px black, 3.5px 0 black, 0 -3.5px black;
  font-weight: bold;
  background-color: rgb(192, 231, 112);
  box-shadow: 3px 3px 0px #7c7979;
}

.add_potato_url_key,
.add_potato_desc_key {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
  margin-left: 2rem;
  color: #cdb18e;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.add_potato_desc_value,
.add_potato_url_value {
  height: 3rem;
  border: solid #cdb18e;
  border-radius: 100px;
  box-shadow: 2px 2px 0px #7c7979;
  background-color: transparent;
  font-size: 1.5rem;
  padding-left: 1.5rem;
}

.add_potato_url_key {
  margin-top: 1rem;
}

.add_potato_desc_value {
  margin-bottom: 1rem;
}
