.edit_main {
  margin: 10px 10px 10px 10px;
  /* width: 100%; */
  flex: 6;
  /* background-color: #E3D1B4; */
  border-radius: 25px;
  border: solid #cdb18e;
  box-shadow: 3px 10px 10px #7c7979;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit_model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  border: solid #cdb18e;
  border-radius: 20px;
  box-shadow: 5px 5px 8px #7c7979;
}
.edit_name_key,
.edit_password_key {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  color: #a9a7a7;
}
.edit_name_value {
  margin-left: 94px;
  margin-right: 10px;
}
.edit_name_key {
  margin-top: 50px;
}
.edit_name_check {
  width: 70px;
  height: 35px;
  font-size: 18px;
  margin-left: 15px;
  border-radius: 15px;
  font-weight: bold;
  box-shadow: 2px 1px 1px #7c7979;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #cdb18e;
  background-color: #e3d1b4;
}

.edit_name_row {
  margin-bottom: 40px;
}

.edit_password_value,
.edit_password_check,
.edit_name_value {
  width: 300px;
  height: 45px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 2px 1px 1px #7c7979;
}
.edit_info_Confirm {
  width: 150px;
  height: 75px;
  border-radius: 15px;
  font-size: 23px;
  margin-top: 50px;
  box-shadow: 2px 1px 1px #7c7979;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #cdb18e;
  background-color: #e3d1b4;
}
