* {
  box-sizing: border-box;
}

/* 윈도우 전체 셋팅 */

.field_entire {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* 화면 왼쪽 분할 부분 */

.field_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* border: solid; */
}

.field_profile {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex: 3;
  border: solid;
  border-radius: 30px;
}

.field_profile_photo {
  flex: 1;
  width: 200px;
}

.field_potato_count {
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  border: solid;
  border-radius: 30px;
}

.field_potato_count_good {
  flex: 1;
  text-align: center;
  margin-top: 6%;
  font-size: 20px;
}

.field_potato_count_bad {
  flex: 1;
  text-align: center;
  font-size: 20px;
}

.field_categories {
  margin: 10px 10px 10px 10px;
  flex: 4;
  border: solid;
  display: flexbox;
  border-radius: 30px;
}

.field_categories_all,
.field_categories_dev,
.field_categories_travel,
.field_categories_cook {
  margin: 30px 30px 30px 30px;
  padding: 10px 10px 10px 10px;
  flex: 1;
  font-size: 30px;
  text-align: center;
  border: ridge;
}

/* 화면 오른쪽 분할 부분 */

.field_right {
  flex: 4;
  /* border: solid; */
  display: flex;
  flex-direction: column;
}

/* 메뉴부분  */
.field_right_menu {
  margin: 10px 10px 10px 10px;
  flex: 0.5;
  border: solid;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.field_right_menu_mypage,
.field_right_menu_manual,
.field_right_menu_logout {
  margin: 25px 20px 10px 20px;
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}

.field_right_fields {
  margin: 10px 10px 10px 10px;
  /* width: 100%; */
  flex: 6;
  border: solid;
  border-radius: 30px;
  display: flex;
}

.field_right_contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border: double;
  width: 100%;
}
