.test {
  margin: 10px 10px 10px 10px;
  /* width: 100%; */
  flex: 6;
  /* background-color: #e3d1b4; */
  overflow: auto;
  border-radius: 25px;
  border-color: black;
  border: solid #cdb18e;
  box-shadow: 3px 10px 10px #7c7979;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mypage_contents {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* border: solid red; */
  margin-top: 150px;
}

.mypage_nickname,
.mypage_email,
.mypage_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.mypage_nickname {
  margin-top: -30px;
}

.mypage_nickname_key,
.mypage_email_key,
.mypage_info_key {
  display: flex;
  width: 170px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 31px;
  border-radius: 20px;
  padding-top: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  border: solid black;
  color: yellow;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
  background-color: rgb(179, 222, 94);
  box-shadow: 3px 2px 0px #7c7979;
  margin-right: 30px;
}

.mypage_info {
  display: flex;
  align-items: flex-start;
}

.mypage_nickname_value,
.mypage_email_value {
  font-size: 40px;
  font-weight: bold;
  text-shadow: -3.3px 0 black, 0 3.3px black, 3.3px 0 black, 0 -3.3px black;
  color: #ffffff;
}
.mypage_info_value {
  width: 550px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  font-weight: bold;
  color: #ffffff;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  font-size: 40px;
  margin-top: 5px;
  margin-left: -10px;
  padding: 10px 10px 10px 10px;
  align-items: flex-start;
}

.mypage_edit_info {
  position: absolute;
  right: 100px;
  top: 160px;
  width: 120px;
  height: 60px;
  font-size: 23px;
  font-weight: bold;
  border-radius: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #cdb18e;
  box-shadow: 2px 1px 0px #7c7979;
  background-color: #e3d1b4;
}

.mypage_info_potato_entire,
.mypage_info_field_entire {
  display: flex;
  align-items: center;
}

.mypage_info_key {
  margin-right: 12px;
}
