.signup_body {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup_potato {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -535px;
  top: 90px;
}

.signup_title {
  position: absolute;
  left: -435px;
  top: 250px;
  font-size: 50px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #7c7979;
}

.signup_subtitle {
  position: absolute;
  left: -420px;
  bottom: 375px;
  font-size: 20px;
}

.signup_modal {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 700px;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  box-shadow: 3px 10px 10px #7c7979;
  padding-top: 30px;
}

.signup_input {
  margin: 10px;
  margin-left: 100px;
  /* width: 40%;
    height: 6%; */
  width: 300px;
  height: 45px;
  border-radius: 8px;
  background-color: #f2e6ce;
  box-shadow: 3px 2px 1px #7c7979;
  font-size: 26px;
  text-align: center;
  align-items: center;
}

.signup_pw {
  margin: 10px;
  /* width: 40%;
      height: 6%; */
  width: 300px;
  height: 45px;
  text-align: center;
  border-radius: 8px;
  background-color: #f2e6ce;
  box-shadow: 3px 2px 1px #7c7979;
  font-size: 50px;
}

.pw-differ,
.pw-check {
  text-align: center;
}

.signup_nickname,
.signup_email,
.signup_password {
  text-align: center;
  color: #7c7979;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 45px;
  font-weight: bold;
}

.signup_email {
  margin-top: -25px;
}

.signup_button {
  width: 200px;
  height: 100px;
  border-radius: 20px;
  margin-top: -15px;
  font-size: 40px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  box-shadow: 3px 2px 1px #7c7979;
  color: rgb(249, 151, 116);
  background-color: #e4f6aa;
}

.nickname_check,
.email_check {
  border-radius: 8px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 20px;
  margin-left: 20px;
  color: #7c7979;
  box-shadow: 2px 1px 1px #7c7979;
  height: 35px;
}
