.signin_title {
  position: absolute;
  left: 39%;
  bottom: 50%;
}

.signin_subtitle {
  position: absolute;
  left: 37%;
  bottom: 45%;
}

.signin_modal {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  flex-direction: column;
}
