.sigin_main {
  position: sticky;
}

.signin_potato {
  margin-right: 250px;
  margin-left: -150px;
  margin-bottom: 40px;
}

.signin_title {
  position: absolute;
  left: 5px;
  bottom: 370px;
  font-size: 70px;
  font-weight: bold;
  /* text-shadow: 3px 10px 10px rgb(51, 47, 47); */
  color: #7c7979;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.signin_subtitle {
  position: absolute;
  left: 48px;
  bottom: 340px;
  font-size: 25px;
}

.signin_modal {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 30px;
  box-shadow: 3px 10px 10px #7c7979;
  padding-top: 30px;
}

.sign_password,
.sign_email {
  font-size: 45px;
  text-align: center;
  font-weight: bold;
  color: #7c7979;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.sign_password {
  margin-top: -5px;
}

.signin_input_mail {
  margin: 10px;
  /* width: 40%;
  height: 6%; */
  width: 300px;
  height: 45px;
  border-radius: 8px;
  background-color: #f2e6ce;
  box-shadow: 3px 2px 1px #7c7979;
  font-size: 26px;
}

.signin_input_pw {
  margin: 10px;
  /* width: 40%;
  height: 6%; */
  width: 300px;
  height: 45px;
  border-radius: 8px;
  background-color: #f2e6ce;
  box-shadow: 3px 2px 1px #7c7979;
  font-size: 50px;
}

.sign_google {
  width: 230px;
  height: 50px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 2px 1px 0px #7c7979;
  color: rgb(211, 250, 132);
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  background-color: rgb(244, 196, 196);
  margin-top: -10px;
  font-weight: bold;
}

.sign_signin {
  margin-right: 40px;
  width: 130px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 2px 1px 0px #7c7979;
  color: rgb(247, 172, 145);
  font-weight: bold;
  font-size: 30px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background-color: rgb(218, 199, 218);
}

.sign_signup {
  width: 100px;
  height: 60px;
  border-radius: 15px;
  box-shadow: 2px 1px 0px #7c7979;
  font-weight: bold;
  font-size: 20px;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
  color: rgb(248, 200, 110);
  background-color: #e4f6aa;
}
