.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 105vh;
  width: 205vh;
  background-image: url("./image/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}
